Practice SEt 8*/

.loader{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 20px solid blue;
    border-top: 20px solid black;
    animation: spinanimation 2s ease-in-out 0s infinite normal;
    
}
@keyframes spinanimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
